<div class="container">
<h2>Add Product</h2>

<form #myform (ngSubmit)="addNewPrd()">

    <div class="form-group">
        <label for="Name">Product Name:</label>
        <input  type="text" class="form-control" id="Name" placeholder="Enter product name" name="Name"[(ngModel)]="newPrd.name">
    </div>

    <div class="form-group">
        <label for="price">Price:</label>
        <input  type="text" class="form-control" id="price" placeholder="Enter price" name="price"[(ngModel)]="newPrd.price">
    </div>

    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input  type="text" class="form-control" id="quantity" placeholder="Enter quantity" name="quantity" [(ngModel)]="newPrd.quantity">
    </div>

    <div class="form-group">
        <label for="img">Image URL:</label>
        <input  type="text" class="form-control" id="img" placeholder="Enter image url" name="img" [(ngModel)]="newPrd.imgUrl">
    </div>

    <div>
        <div class="form-group">
            <label for="" class="form-label">Category</label>
            <select  class="form-select form-select-lg" name="Category" id="Category" [(ngModel)]="newPrd.categoryId">
                <option selected value=0>Select Category</option>
                <option value=1>Laptop</option>
                <option value=2>Tablet</option>
                <option value=3>Mobile</option>
            </select>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-success" value="Send">Add product</button>
</form> 
</div>