<div class="card" style="width:400px; background-color: darkolivegreen;">
    <img class="card-img-bottom" [src]="prd?.imgURL" alt="prdImg" style="width:100%"/>
    <div class="card-body">
        <h3 class="card-title">Name: {{prd?.name}}</h3>
        <h4 class="card-title">Price: {{prd?.price}}</h4>
        <h4 class="card-title">Av. Quantity: {{prd?.quantity}}</h4>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
            <button [disabled]="currPId==prdIds[0]" type="button" class="btn btn-primary"(click)="goPrevise()">Previce</button>
            <button [disabled]="currPId==prdIds.length" type="button" class="btn btn-primary"(click)="goNext()">Next</button>
          </div>
    </div>
</div>

